<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="register.css" />
  </head>
  <body>
    <div class="center">
      <h1>Register</h1>
      <form action="" method="post">
        <fieldset class="account">
          <legend>Account</legend>
          <div class="user">
            <label for="user">Username</label>
            <input type="text" name="user" id="user" required />
          </div>
          <img src="/icon/person72.png" alt="Your image" /><br />
          <div class="pass">
            <label for="pass">Password</label>
            <input type="password" name="pass" id="pass" required />
          </div>
          <div class="re-pass">
            <label for="re-pass">Re-Password</label>
            <input type="password" name="re-pass" id="re-pass" required />
          </div>
          <input type="file" name="image" accept=".jpg" />
        </fieldset>

        <fieldset class="information">
          <legend>Information</legend>
          <div class="fname">
            <label for="fname">First Name</label>
            <input type="text" name="fname" id="fname" required />
          </div>
          <div class="lname">
            <label for="lname">Last Name</label>
            <input type="text" name="lname" id="lname" required />
          </div>
          <div class="sex">
            <label>Sex</label>
            <input type="radio" id="male" value="male" name="sex" checked />
            <label for="male" class="rdb">Male</label>
            <input type="radio" id="female" value="female" name="sex" />
            <label for="female" class="rdb">Female</label>
          </div>
          <div class="birth">
            <label for="birth">Birth Day</label>
            <input type="date" name="birth" id="birth" required />
          </div>
          <div class="phone">
            <label for="phone">Phone</label>
            <input type="tel" id="phone" name="phone" pattern="^\\d{7,15}$" />
          </div>
        </fieldset>

        <input type="submit" value="register" class="register" />
        <div class="link_login">
          Already a member?<a href="./login.html">Login here</a>
        </div>
      </form>
    </div>
  </body>
</html>
