<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="staff.css" />
  </head>
  <body>
    <div class="header">BIKE STORES</div>
    <div class="navigation">
      <div class="list">
        <ul>
          <li>PRODUCT</a></li>
          <li>TRANSPORT</li>
          <li>PERSONAL</li>
          <li>HISTORY</li>
          <li>STORES</li>
          <li id="signout">SIGN OUT</li>
        </ul>
      </div>
      <div class="filler">
        <form action="" class="search-bar">
          <label>Product Name</label>
          <input type="text" name="product_name">
          <label>Price</label>
          <input type="text" name="price_start">
          <label>to</label>
          <input type="text" name="price_end">
          <label>Year</label>
          <input type="text" name="year">
          <label>Brand</label>
          <select name="brand" id="brand"></select>
          <label>Category</label>
          <select name="category" id="category"></select>
        </form>
      </div>
      <div class="sort">
        <form action="">
            <select name="sort" id="sort">
                <option value="best-sold">Best Sold</option>
                <option value="increase">Increase</option>
                <option value="decrease">Decrease</option>
            </select>
        </form>
      </div>
    </div>
    <div class="content"></div>

  </body>
</html>
